<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checking Account Action</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Checking Account</h1>
    <hr>
    <h6>What would like to do with your checking account?</h6>
    <a th:href="@{/withdrawal}" class="btn btn-primary btn-sm mb-3"> Withdrawal </a>
    <a th:href="@{/deposit}" class="btn btn-primary btn-sm mb-3"> Deposit </a>
    <a th:href="@{/getaccountinfo}" class="btn btn-primary btn-sm mb-3"> Account Info </a>
</div>

</body>
</html>